@charset "utf-8";
/*
Colores para la pagina:
*/
.rgba-primary-0 { color: rgba( 41, 81,109,1) }
.rgba-primary-1 { color: rgba(112,142,164,1) }
.rgba-primary-2 { color: rgba( 72,110,136,1) }
.rgba-primary-3 { color: rgba( 18, 55, 82,1) }
.rgba-primary-4 { color: rgba(  3, 33, 55,1) }



/*estilos compartidos*/
header,footer,nav{
  background-color: rgba( 41, 81,109,1);
  color: white;
}

/*estilo para header y sus elementos*/
header{
  padding: 10px 0;
  border-bottom: 4px solid rgba( 72,110,136,1);
}
#logo{
  width: 140px;
  height: 100px;
}
#cabecera{
  margin-top: 30px;
}

/*estilos para nav y sus elementos*/
nav{
  border-bottom: 4px solid rgba( 72,110,136,1);
  padding: 5px 0;
}
#inicio{
  background-color: rgba( 72,110,136,1);
}
.nav-pills>li>a{
  color: rgb(85, 116, 184);
  border-radius: 0px;
  font-weight: bold;
}
.nav-pills>li>a:hover{
  color: rgb(139, 166, 224);
}
.nav-pills>li>a:action{
  color: black;
}

/*estilos para el contenedor principal y sus elementos*/


#main-cont{
  background-color: rgb(192, 220, 240);
  min-height: calc(100vh - 305px);
}
#contRemove{
  background-color: rgb(192, 220, 240);
  height: 50px
}
/*estilos para el footer y sus elementos*/
footer{
  text-align: center;
  border-top: 4px solid rgba( 72,110,136,1);
}
.list-group{
  width: 50%;
  margin: 10px auto;
}
.list-group-item:hover{
  cursor: pointer;
  background-color: rgba(  3, 33, 55,1);
  color: white;
}
